<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>step1</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    
    <listener>
        <listener-class>
                de.ingrid.iplug.web.BeanFactoryContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
                de.ingrid.iplug.web.PlugdescriptionContextListener
        </listener-class>
    </listener>
 	<listener>
        <listener-class>
                de.ingrid.iplug.web.DatatypeContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
                de.ingrid.iplug.web.BusClientContextListener
        </listener-class>
    </listener>
    
   	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/401.jsp</location>
	</error-page>	
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/501.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/WEB-INF/502.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/503.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/WEB-INF/504.jsp</location>
	</error-page>	
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/505.jsp</location>
	</error-page>	
</web-app>
